# Virtual Environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# macOS
.DS_Store

# VSCode
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Build files
build/
dist/
*.egg-info/
